<h1>コマンドパレット作成</h1>

<%= form_for(@ccfolia_url, url: cmd_pallet_path, method: :post) do %>
  <%= label_tag(:ccfolia_url, 'アーカイブス url:') %>
  <%= text_field_tag(:ccfolia_url) %>
  <%= submit_tag('送信') %>
<% end %>
